<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form class="modal-content" action="{% url 'url_tracker:delete' pk=object.id %}" method="POST">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="deleteModalLabel">Delete Link</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <p>Are you sure you want to delete <b>{{ object }}</b> ({{ object.link }})?</p>
            </div>

            {% csrf_token %}

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger">Delete</button>
            </div>
        </form>
    </div>
</div>