{% extends 'app/url_tracker/base.html' %}
{% block 'title' %}Manage URL{% endblock %}

{% block 'content' %}
    <div class="rounded-3 h-100 w-100 d-flex flex-column gap-2">
        <div class="row">
            <h1>Link Lists</h1>
        </div>
        <div class="row h-100 w-100">
            <div class="col-9 h-100" >
                {% include 'app/url_tracker/list_url/url_data_list.html' %}
            </div>
            <div class="col-3 h-100 pl-4 d-flex flex-column gap-3">
                {% include 'app/url_tracker/list_url/info.html' %}

                {% include 'app/components/sidebar_ads.html' %}
            </div>
        </div>
    </div>
{% endblock %}
