{% load static %}

<section class="p-5" id="about">
    <div class="row">
        <div class="col-4">
            <h2>About Linkaroo</h2>
            <p>At Linkaroo, we believe that every click tells a story. Founded with a passion for empowering businesses and individuals to harness the true potential of their online presence, Linkaroo is the premier destination for URL tracking and management solutions.</p>
            <div>
                <h5>Our Mission</h5>
                <p>Our mission at Linkaroo is simple: to provide you with the tools and insights you need to optimize your digital strategy and achieve your goals. Whether you're a seasoned marketer, a budding entrepreneur, or a passionate content creator, we're here to help you unlock the power of data-driven decision-making.</p>
            </div>

            <div>
                <h5>What Sets Us Apart</h5>
                <p>Linkaroo stands out from the crowd thanks to our unwavering commitment to innovation, reliability, and user satisfaction. Here's what sets us apart:</p>
                <ul>
                    <li>
                        <p><strong>Cutting-Edge Technology:</strong> We leverage the latest advancements in web technology to deliver a seamless and intuitive user experience.</p>
                    </li>
                    <li>
                        <p><strong>Robust Features:</strong> From custom URL creation to real-time click tracking and comprehensive analytics, our feature-rich platform covers all your URL management needs.</p>
                    </li>
                    <li>
                        <p><strong>Data Privacy and Security:</strong> We prioritize the privacy and security of your data, implementing stringent measures to ensure your information remains safe and confidential.</p>
                    </li>
                    <li>
                        <p><strong>Exceptional Support:</strong> Our dedicated support team is here to assist you every step of the way, providing prompt assistance and expert guidance whenever you need it.</p>
                    </li>
                </ul>
            </div>

            <div>
                <p>Unlock the power of data-driven decision-making with Linkaroo - Your URL tracking companion.</p>
            </div>
        </div>
        <div class="col-8 d-flex align-items-center">
            <img src="{% static 'images/pages/landing/application.png' %}" width="100%"/>
        </div>
    </div>
</section>
