<section class="bg-primary d-flex flex-column align-items-center px-4 py-5 text-white" id="feature">
    <h2>Key Features</h2>
    <div class="d-flex justify-content-around gap-4">
        <div class="feature-card">
            <img src="" alt=""/>
            <div>
                <h5>Custom URL Creation</h5>
                <p>Craft personalized URLs that reflect your brand identity and redirect users to any desired destination.</p>
            </div>
        </div>

        <div class="feature-card">
            <img src="" alt=""/>
            <div>
                <h5>Click Tracking</h5>
                <p>Monitor every click on your custom URLs in real-time, empowering you with actionable data to optimize your marketing strategies.</p>
            </div>
        </div>

        <div class="feature-card">
            <img src="" alt=""/>
            <div>
                <h5>Analytics Dashboard</h5>
                <p>Dive deep into comprehensive analytics and visualize your link performance with our intuitive dashboard. Gain valuable insights into user engagement, geographical data, referral sources, and more.</p>
            </div>
        </div>

        <div class="feature-card">
            <img src="" alt=""/>
            <div>
                <h5>URL Management</h5>
                <p>Seamlessly manage and edit your custom URLs with ease. Whether you need to update destinations or modify tracking parameters, Linkaroo provides you with full control over your links.</p>
            </div>
        </div>
    </div>
</section>
