{% load static %}

<header class="d-flex justify-content-between px-4 align-items-center bg-primary text-white position-fixed w-100 top-0" style="z-index: 99">
    <div class="d-flex gap-2 align-items-center">
        <img src="{% static 'images/logo.svg' %}" alt="logo" width="70">
        <span class="fs-4">Linkaroo</span>
    </div>
    <nav>
        <ul class="list-unstyled d-flex gap-4 fs-5">
            <li>
                <a class="text-decoration-none text-white" href="#landing-hero">Home</a>
            </li>
            <li>
                <a class="text-decoration-none text-white" href="#about">About</a>
            </li>
            <li>
                <a class="text-decoration-none text-white" href="#contact">Contact</a>
            </li>
            <li>
                <a class="text-decoration-none text-white" href="#subscription">Subscriptions</a>
            </li>
            <li>
                <a class="text-decoration-none text-white" href="{% url 'users:login' %}">Login/Register</a>
            </li>
        </ul>
    </nav>
</header>
