{% extends 'app/users/base.html' %}
{% block 'title' %}Login{% endblock %}

{% block 'content' %}
    <div class="d-flex flex-column justify-content-center align-items-center h-100">
        <form method="post" class="w-25 bg-default p-5 rounded-5 shadow">
            <h2 class="text-center mb-3">Login Page</h2>

            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for key, error in form.errors.items %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            <div class="d-flex flex-column gap-2">
                {% csrf_token %}
                {% for field in form %}
                    <div class="d-flex flex-column">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}

                <div class="d-flex flex-column gap-2 mt-2">
                    <button type="submit" class="btn btn-secondary text-white">Login</button>
                    <a href="{% url 'users:signup' %}" class="btn btn-default text-black border" style="border-width: 1px">Signup</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}